# Visual Studio files
.vs/
*.suo
*.user
*.userosf
*.sln.docstates

# Build artifacts
bin/
obj/
artifacts/
publish/
*.pdb
*.dll
*.exe
*.apk
*.aab
*.ipa
*.appx
*.appxbundle
*.msix
*.msixbundle

# NuGet packages
packages/
*.nupkg
*.snupkg

# .NET temporary files
*.tmp
*.log
*.bak
*.cache
*.userprefs

# Rider files
.idea/

# VS Code files
.vscode/

# MAUI specific
MauiApp.csproj.user
**/*.Android.csproj.user
**/*.iOS.csproj.user
**/*.MacCatalyst.csproj.user
**/*.Windows.csproj.user

# Mac specific files
.DS_Store

# Windows specific files
Thumbs.db